.site-error .mainbox {
    width: 100%;
    max-height: 460px;
    position: relative;
    display: flex;
    justify-content: center;
}

.mainbox .err {
    color: #343a40;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 25vw;
    top: 8%;
}

.mainbox .far {
    position: absolute;
    font-size: 19vw;
    top: 25%;
    color: #343a40;
}

.mainbox .far-ghost {
    width: 20vw;
}

.mainbox .err2 {
    color: #343a40;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 25vw;
}

.site-error .err-message {
    text-align: center;
    font-size: 30px;
}

.pagination {
    display: flex;
    justify-content: center;
}

.pagination li {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
    border: 1px solid;
}

.pagination a {
    color: black;
    text-decoration: none;
}

.pagination li.active {
    background: #cacaca;
    font-weight: bold;
}
