.site-error .mainbox {
    width: 100%;
    max-height: 460px;
    position: relative;
    display: flex;
    justify-content: center;
}

.mainbox .err {
    color: #343a40;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 25vw;
    top: 8%;
}

.mainbox .far {
    position: absolute;
    font-size: 19vw;
    top: 25%;
    color: #343a40;
}

.mainbox .far-ghost {
    width: 20vw;
}

.mainbox .err2 {
    color: #343a40;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 25vw;
}

.site-error .err-message {
    text-align: center;
    font-size: 30px;
}
